@model IEnumerable<MVC_test.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Tytuł:
        </th>
        <th>
            Cena:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="window.location='@Url.Action("Details", new { id=item.ArticleId })';">
            <td>
                @Html.DisplayFor(modelItem => item.Photo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
                zł
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ArticleId })

            </td>
        </tr>
    }

</table>

<script>
    $("#container").on('click-row.bs.table', function (e, row, $element) {
        window.location = $element.data('href');
    });
</script>